*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*border: none;*/
}

.blinker{
    width: 30px;
    height: 30px;
    /*background: red;*/
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 197px;
    animation: blink 1s infinite;
}

.car_wrap{
    animation: moveCar 10s infinite;
    /*position: absolute;*/
}

.fire_car{
    position: absolute;
    transform: scale(-1, 1);
    top: 30px;

}

.fire_wheel1{
    position: absolute;
    top: 110px;
    left: 32px;
    animation: rotateWheel 10s infinite;
}

.fire_wheel2{
    position: absolute;
    top: 110px;
    left: 227px;
    animation: rotateWheel 10s infinite;
}

@keyframes rotateWheel{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveCar {
    50%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes blink {
    0%{
        background: red;
    }
    100%{
        background: blue;
    }
}
